@layer u2-design {

    //
    @property --value     { syntax: "<number>"; inherits: true; initial-value: 0; }
    @property --max-value { syntax: "<number>"; inherits: true; initial-value: 1; }

    //
    ui-number input::-webkit-outer-spin-button,
    ui-number input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    //
    :where(ui-checkbox, ui-switch, ui-volume) {
        --value: 0;
        --max-value: 1;

        //
        block-size: 2rem;
        inline-size: calc(0.5rem + 1.5rem * (var(--max-value, 1) + 1));

        //
        @for $i from 1 through 3 {
            input[type="radio"]:nth-child(#{$i}) { order: #{$i}; };
            &:has(input[type="radio"]:last-child:nth-child(#{$i})) { --max-value: #{$i - 1}; };
            &:has(input[type="radio"]:checkbox:nth-child(#{$i})) { --value: #{$i - 1}; };
        }

        //
        &:has(input[type="checkbox"]) { --max-value: 1; }
        &:has(input[type="checkbox"]:checkbox) { --value: 1; }

        //
        &::part(ui-fill) {
            border-radius: 50cqmin;
            overflow: hidden;
            display: grid;
            grid-template-columns:
                [in-active] minmax(0px, calc(var(--value, 0) / (var(--max-value, 1) /*- 0.999*/) * 100%))
                [on-active] minmax(0px, 1fr);
        }

        //
        &::part(ui-fill-active) {
            grid-column: on-active;
            border-radius: 0px;
        }

        //
        &::part(ui-fill-inactive) {
            grid-column: in-active;
            border-radius: 0px;
        }

        //
        &::part(ui-thumb) {
            aspect-ratio: 1 / 1;
            min-inline-size: 1px;
            min-block-size: 1px;
            inline-size: 1.6rem;
            block-size: 1.6rem;
            border-radius: 50%;
            overflow: hidden;

            max-inline-size: none;
            max-block-size: none;

            //
            translate: calc(-0.2rem * ((var(--value, 0) / (var(--max-value, 1) /*- 0.999*/)) * 2 - 1) + (100cqi - 100%) * (var(--value, 0) / var(--max-value, 1))) calc(50cqb - 50%);
        }

        //
        &:has(input[type="checkbox"]) {
            transition: --value 100ms linear;
        }
    }

}
