@layer ui-frame-fix {
    // if has identified, do top level
    ui-frame:where(:has(*:target), :target)
    {
        --z-index: 0;
        z-index: calc(1099 + var(--z-index, 0));
        display: inline grid;

        // revert visibility if hidden (may not help)
        ::slotted(.ui-content[data-hidden]) {
            display: revert-layer;
        }
    }

    //
    ui-frame:where([data-hidden], :empty, :has(.ui-content[data-hidden]), :has(.ui-content:empty), :not(:has(.ui-content)))
        { display: none; };

    //
    ui-frame .ui-content {
        inline-size: 100%;
        block-size: 100%;
        overflow: hidden;
    }

    //
    body:not(:has(ui-frame:not([data-hidden]))) ui-navbar
    {
        //
        & {
            --theme-surface-alpha: 0;
            --theme-surface-chroma: 1;
            --highlight-coefficient: 0;
        }

        //
        & {
            box-shadow: none;
            pointer-events: none;
        }

        //
        &, & * { --highlight-coefficient: 0; }
        &::part(ui-title-handle) { pointer-events: none; }
    }

    //
    body:not(:has(ui-frame:not([data-hidden]))):not(:has(ui-taskbar:not([data-hidden]))) ui-navbar
        {&::part(ui-back-button) { display: none; }}

    //
    body:has(ui-frame:not([data-hidden])) ui-taskbar
    {
        & { --data-taskbar-shift: 2.5rem; }
        &:hover, &:active { --data-taskbar-shift: 0px; }
        &:not(:hover, :active) { --data-taskbar-shift: 2.5rem; }
    }

    //
    body:not(:has(ui-frame:not([data-hidden]))) ui-taskbar
    {
        & {
            --theme-surface-alpha: 0;
            --theme-surface-chroma: 1;
            --highlight-coefficient: 0;
        }

        //
        & {
            box-shadow: none;
            pointer-events: none;
        }
    }
}
