//
@use "../../position/scss/ps-draggable.scss";
@use "../../position/scss/ps-resizable.scss";

//
@layer ui-frame
{
    :host
    {
        &, :where(*), ::slotted(*)
        {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            user-drag: none;
            user-select: none;
            -webkit-user-drag: none;
            -moz-user-drag: none;

            /* */
            box-sizing: border-box;

            /* */
            white-space: nowrap;
            white-space-collapse: collapse;
            text-wrap: nowrap;
            text-spacing-trim: trim-start;
        }

        /* */
        & {
            position: fixed;
            display: inline grid;
            grid-template-columns: minmax(0px, 1fr);
            grid-template-rows:
                [title-bar] minmax(0px, max-content)
                [content]   minmax(0px, 1fr)
                [status]    minmax(1px, max-content);

            /* */
            contain: strict;
            container-type: size;
            isolation: isolate;

            /* */
            container-name: ui-frame;
            overflow: hidden;

            /* */
            outline: solid 0.5px var(--rv-bg-color, currentColor);
            border-radius: 0.125rem;
            box-shadow: 0rem 0rem 1rem #10101060;

            /* */
            box-sizing: border-box;
            pointer-events: auto;
            z-index: calc(999 + var(--z-index, 0));

            /* */
            user-select: none;
            touch-action: none;
            resize: none;
        }

        /* */
        & :where(*)
        {
            user-select: none;
            touch-action: none;
        }

        /* */
        & .ui-title-bar
        {

            & {
                font-size: 0.9rem;
                font-weight: bold;

                inline-size: 100%;
                block-size: 100%;
                min-block-size: var(--title-bar-height, 2.5rem);
                text-align: start;

                overflow: hidden;
                box-sizing: border-box;

                display: grid;
                grid-template-rows: minmax(0px, 1fr);
                grid-template-columns:
                    [title] minmax(0px, 1fr)
                    [buttons] minmax(var(--title-bar-height, 2.5rem), max-content);

                grid-column: 1 / -1;
                grid-row: 1 / 1 span;
                grid-row: title-bar;

                place-items: safe center;
                place-content: safe center;
                align-items: safe center;
                align-content: safe center;

                /* */
                user-select: none;
                pointer-events: none;
            }

            /* */
            ::slotted(*)
            {
                inline-size: 100%;
                block-size: 100%;
                place-items: safe center;
                place-content: safe center;
                align-items: safe center;
                align-content: safe center;
                pointer-events: none;
                user-select: none;
                box-sizing: border-box;
                text-align: start;

                grid-column: 1 / -1;
                grid-row: 1 / 1 span;
                padding-inline: 1rem;
            }

            /* */
            & .ui-title-handle
            {
                & {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: no-wrap;
                    box-sizing: border-box;
                    text-align: start;

                    inline-size: 100%;
                    block-size: 100%;

                    grid-column: title;
                    grid-row: 1 / 1 span;

                    place-content: safe center;
                    place-items: safe center;

                    //cursor: move;
                    pointer-events: auto;
                    user-select: none;
                    touch-action: none;
                }

                //&:active { cursor: move; };
                //&:hover  { cursor: move; };
            }
        }

        /* */
        & .ui-phantom, ::slotted(.ui-phantom)
        {
            object-fit: cover;
            object-position: center;
            background-color: transparent;
            position: relative;

            /* */
            inline-size: 100%;
            block-size: 100%;
            box-sizing: border-box;
            display: block;

            /* */
            grid-column: 1 / -1;
            grid-row: content;
            grid-row: 2 / 2 span;

            /* */
            pointer-events: none;
            user-select: none;
            overflow: hidden;

            /* */
            //will-change: contents, display;
        }

        /* */
        & .ui-content-box, ::slotted(.ui-content)
        {
            inline-size: 100%;
            block-size: 100%;
            box-sizing: border-box;
            position: relative;

            /* */
            grid-column: 1 / -1;
            grid-row: content;
            grid-row: 2 / 2 span;

            /* */
            pointer-events: none;
            user-select: none;

            /* */
            container-type: size;
            container-name: ui-content;
            contain: strict;
            overflow: hidden;

            /* */
            //will-change: contents, display;
        }

        /* */
        & .ui-content-box {
            background-color: transparent;
            display: contents;
        }

        /* */
        & .ui-buttons
        {
            & {
                display: flex;
                place-items: safe center;
                place-content: safe center;
                inline-size: 100%;
                block-size: 100%;
                min-inline-size: max-content;
                grid-row: 1 / 1 span;
                grid-column: buttons;
                pointer-events: none;
                user-select: none;
                box-sizing: border-box;
                gap: 0.2rem;
                padding: 0.2rem;
            }

            /* */
            & > *
            {
                & {
                    display: flex;
                    inline-size: max-content;
                    block-size: 100%;
                    aspect-ratio: 1 / 1;
                    background-image: transparent;
                    place-items: safe center;
                    place-content: safe center;
                    cursor: pointer;
                    pointer-events: auto;
                    box-sizing: border-box;
                    border: none 0px transparent;
                    outline: none 0px transparent;
                    padding: 0.4rem;
                    user-select: none;
                    border-radius: 0.25rem;
                }

                /* */
                & > * {
                    display: flex;
                    inline-size: max-content;
                    block-size: 100%;
                    aspect-ratio: 1 / 1;
                    box-sizing: border-box;
                    border: none 0px transparent;
                    outline: none 0px transparent;
                    pointer-events: none;
                    user-select: none;
                }
            }
        }

        /* */
        & .ui-resize
        {
            position: absolute;
            inset: auto;
            inset-inline-end: 0px;
            inset-block-end: 0px;
            inline-size: 1rem;
            block-size: 1rem;
            box-sizing: border-box;

            /* */
            background-color: transparent;
            cursor: nwse-resize;

            /* */
            pointer-events: auto;
            user-select: none;
            touch-action: none;
            resize: none;
        }

        //
        @media not (((hover: hover) or (pointer: fine)) and ((width >= 9in) or (orientation: landscape)))
        {
            & {
                inline-size: 100%;
                block-size: 100%;
                inset-inline-start: 0px;
                inset-block-start : 0px;

                //
                --title-bar-height: 2rem;
            }

            //
            .ui-title-bar {  min-block-size: var(--title-bar-height, 2rem); }
            .ui-title-bar :where(*),
            .ui-title-bar ::slotted(*) {
                text-align: start;
                display: none !important;
            }
        }
    }

    //
    :host(ui-frame:empty)  { display: none; };
    :host(ui-frame:has(::slotted(.ui-content[data-hidden]))) { display: none; };
    :host(ui-frame[data-hidden]) { display: none; };
    :host(ui-frame:not(:has(.ui-content))) { display: none; };
    :host(ui-frame:not(:has(::slotted(.ui-content)))) { display: none; };

    // if has identified, do top level
    :host(ui-frame:has(*:target)),
    :host(ui-frame:target)
    {
        --z-index: 0;
        z-index: calc(1099 + var(--z-index, 0));
        display: inline grid;

        // revert visibility if hidden (may not help)
        ::slotted(.ui-content[data-hidden]) {
            display: revert-layer;
        }
    }

    //
    :host(ui-frame[data-dragging])
    {
        & { will-change: transform !important; }
        & { translate: var(--ds-x, 0px) var(--ds-y, 0px) 0px !important; }

        //
        :where(*), ::slotted(*)
        {
            animation: none !important;
            animation-duration: 0ms !important;
            transition: none !important;
            transition-duration: 0ms !important;
            box-shadow: none !important;
        }
    }
}
