@layer ui-select-row
{
    //
    :host(ui-select-row)
    {
        &, :where(*), ::slotted(*)
        {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            user-drag: none;
            user-select: none;
            touch-action: none;
            -webkit-user-drag: none;
            -moz-user-drag: none;

            /* */
            box-sizing: border-box;

            /* */
            white-space: nowrap;
            white-space-collapse: collapse;
            text-wrap: nowrap;
            text-spacing-trim: trim-start;
        }

        /* */
        & {
            font-size: 0.9rem;
            box-sizing: border-box;
            inline-size: 100%;
            block-size: max-content;

            /* */
            display: grid;
            grid-column: 1 / -1;
            grid-template-rows: minmax(0px, 1fr);
            grid-template-columns: subgrid;

            /* */
            touch-action: none;
            pointer-events: auto;
            cursor: pointer;
        }

        /* */
        & input[type="checkbox"], slot[name="radio"]::slotted(input[type="checkbox"]),
        & input[type="radio"], slot[name="radio"]::slotted(input[type="radio"])
        {
            box-sizing: border-box;
            cursor: pointer;
            grid-row: 1 / 1 span;
            grid-column: 1 / -1;
            inline-size: 100%;
            block-size: 100%;
            appearance: none;
            opacity: 0;
            margin: 0px;
        };

        /* */
        & .ui-columns
        {
            & {
                box-sizing: border-box;
                grid-row: 1 / 1 span; grid-column: 1 / -1;
                inline-size: 100%; block-size: 100%;

                //
                display: grid;
                grid-template-rows: minmax(0px, 1fr);
                grid-template-columns: subgrid;

                /* */
                user-select: none;
                touch-action: none;
                pointer-events: none;
            }

            /* */
            ::slotted(*)
            {
                grid-row: 1 / 1 span;
                padding: 0.25rem;

                /* */
                display: inline flex;
                flex-direction: row;
                flex-wrap: wrap;

                /* */
                align-content: safe center;
                align-items: safe center;

                /* */
                user-select: none;
                touch-action: none;
            }
        }
    }
}
