@layer ui-select-shape
{
    //
    :host(ui-select-shape)
    {
        &, :where(*), ::slotted(*)
        {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            user-drag: none;
            user-select: none;
            touch-action: none;
            -webkit-user-drag: none;
            -moz-user-drag: none;

            /* */
            box-sizing: border-box;

            /* */
            white-space: nowrap;
            white-space-collapse: collapse;
            text-wrap: nowrap;
            text-spacing-trim: trim-start;

            //
            -webkit-font-smoothing: none;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeSpeed;
            font-smooth: 0px;
            font-smooth: never;
            shape-rendering: crispEdges;
            shape-rendering: optimizeSpeed;
            image-rendering: auto;
            image-rendering: crisp-edges;
            image-rendering: optimizeSpeed;
            image-rendering: pixelated;
        }

        /* */
        & {
            font-size: 0.9rem;
            box-sizing: border-box;
            inline-size: max-content;
            block-size: max-content;

            /* */
            min-inline-size: 3rem;
            min-block-size: 3rem;

            /* */
            display: inline grid;
            grid-template-rows: minmax(0px, 1fr);
            grid-template-columns: minmax(0px, 1fr);

            /* */
            touch-action: none;
            pointer-events: auto;
            cursor: pointer;

            /* */
            overflow: hidden;
            border-radius: 0.25rem;
        }

        /* */
        ::slotted(*)
        {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            inline-size: 100%;
            block-size: 100%;
            pointer-events: none;
        }

        /* */
        & input[type="checkbox"], slot[name="radio"]::slotted(input[type="checkbox"]),
        & input[type="radio"], slot[name="radio"]::slotted(input[type="radio"])
        {
            box-sizing: border-box;
            cursor: pointer;
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            inline-size: 100%;
            block-size: 100%;
            appearance: none;
            opacity: 0;
            margin: 0px;
            pointer-events: auto;
        };

        /* */
        & > :where(div)
        {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            inline-size: 100%;
            block-size: 100%;

            /* */
            display: inline grid;
            grid-template-rows: minmax(0px, 1fr);
            grid-template-columns: minmax(0px, 1fr);
        }

        /* */
        & > .ui-box { padding: 10%; };

        /* */
        :where(*) {
            background-color: transparent;
        }
    }

    /* */
    //:host(ui-select-shape:has(:checked)),
    :host(ui-select-shape[checked])
    {
        outline: solid 0.125rem oklch(from var(--current-surface-color, currentColor) l c h / 1);
    }
}
