//@use "../../position/scss/ps-anchor.scss";
@use "../../position/scss/ps-cursor.scss";

//
@layer ui-modal
{
    //
    :host
    {
        & {
            --inline-size: max-content;
            --anchor-group: --ui-popup;
        };

        //
        & {
            // TODO! use backdrop-filter on top-level styles
            backdrop-filter: blur(1rem) !important;

            //
            font-size: 0.9rem;
            max-inline-size: none;
            border-radius: 0.3333rem;
            inline-size: max-content;
            block-size: max-content;
            box-shadow: 0rem 0rem 1rem #10101040;
            box-sizing: border-box;
            position: fixed;
            z-index: calc(99999 + var(--z-index, 0));
            padding: 0.25rem;
            display: block flex;
            pointer-events: auto;
            flex-direction: column;
            grid-auto-flow: column;
            grid-auto-rows: max-content;
            flex-wrap: wrap;
            overflow: hidden;

            //
            gap: 0px;
            column-gap: 0.25rem;
            row-gap: 0px;

            /* */
            place-content: center;
            place-items: center;
            place-self: center;
        };

        //
        &::slotted(*) {
            --tm-bg-alpha: 0;
        }
    };

    //
    :host([type="contextmenu"]) {
        inline-size: var(--inline-size);
        padding: 0rem !important;
    }

    //
    :host([data-hidden])
    {
        display: none !important;
        pointer-events: none !important;
    };
};
