//@use "../../position/scss/ps-anchor.scss" as ps;
@use "../../position/scss/ps-cursor.scss" as ps;
@use "../../position/scss/ps-centered.scss" as ct;

//
@layer ui-modal
{
    :host, :where(*), ::slotted(*) {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;

        //
        touch-action: none;
        user-select: none;
    }

    //
    :host
    {
        @include ct.ps-centered();

        //
        & {
            --inline-size: max-content;
            --anchor-group: --ui-popup;
        };

        //
        & { // TODO! use backdrop-filter on top-level styles
            backdrop-filter: blur(1rem) !important;
            font-family: 'Open Sans', 'Source Sans 3', 'Gill Sans Nova', Ubuntu, 'DejaVu Sans', Candara, Segoe, "Segoe UI", Optima, source-sans-pro, sans-serif;

            //
            font-size: 0.8rem;
            max-inline-size: none;
            border-radius: 0.3333rem;
            min-inline-size: max-content;
            inline-size: max-content;
            block-size: max-content;
            box-shadow: 0rem 0rem 1rem #10101040;
            box-sizing: border-box;
            position: fixed !important;
            z-index: calc(9999 + var(--z-index, 0));
            padding: 0.25rem;
            display: block flex;
            pointer-events: auto;
            flex-direction: column;
            grid-auto-flow: column;
            grid-auto-rows: max-content;
            flex-wrap: wrap;
            overflow: hidden;

            //
            gap: 0px;
            column-gap: 0.25rem;
            row-gap: 0px;

            /* */
            place-content: center;
            place-items: center;
            place-self: center;
        };

        //
        & {
            direction: ltr !important;
            writing-mode: horizontal-tb !important;
        }

        //
        &::slotted(*) {
            --tm-bg-alpha: 0;
        }
    };

    //
    :host([type="popup"]) {
        @media (((hover: hover) or (pointer: fine)) and ((width >= 9in) or (orientation: landscape)))
        {
            @include ps.ps-cursor();
        }

        //
        & {
            inline-size: var(--inline-size);
            padding: 0rem !important;
        }
    }

    //
    :host([type="contextmenu"]) {
        @include ps.ps-cursor();
        & {
            z-index: calc(99999 + var(--z-index, 0)) !important;
            inline-size: var(--inline-size);
            padding: 0rem !important;
        }
    }

    //
    :host([data-hidden])
    {
        display: none !important;
        pointer-events: none !important;
    };
};
