@layer ui-shaped {
    :host {
        & { --icon-size: 4rem; };

        /* */
        & {
            padding: 0.25rem;
            place-items: safe center;
            place-content: safe center;
            filter: drop-shadow(0 0 1rem #10101040);
            box-sizing: border-box;
            aspect-ratio: 1 / 1;
            max-inline-size: var(--icon-size, 4rem);
            max-block-size: var(--icon-size, 4rem);
            inline-size: 100%;
            block-size: 100%;
            overflow: visible;
            display: inline grid;
            grid-template-columns: minmax(0px, 1fr);
            grid-template-rows: minmax(0px, 1fr);
            background-color: transparent;

            /* */
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;

            /* */
            user-drag: none;
            user-select: none;
            touch-action: none;
            pointer-events: none;
        };

        /* */
        ::slotted(*), & > * {
            --icon-size: 100%;

            /* */
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            inline-size: 100%;
            block-size: 100%;
            grid-column: 1 / -1;
            grid-row: 1 / -1;

            /* */
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;

            /* */
            user-drag: none;
            user-select: none;
            touch-action: none;
        };

        /* */
        ::slotted(*) {
            overflow: hidden;
            pointer-events: auto;
            scale: var(--corrector, 1);
        };

        /* */
        & > * { z-index: 99; };
    }
}
