@layer ui-shaped {
    :host {
        /* */
        &, :where(*), ::slotted(*) {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            user-drag: none;
            user-select: none;
            touch-action: none;
            -webkit-user-drag: none;
            -moz-user-drag: none;

            /* */
            box-sizing: border-box;
        }

        /* */
        ::slotted(*), & > :where(*) {
            --icon-size: 100%;

            /* */
            pointer-events: none;
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            inline-size: max-content;
            block-size: 100%;
            grid-column: 1 / -1;
            grid-row: 1 / -1;

            /* */
            cursor: pointer;
        };

        //
        & { --icon-size: 4rem; };
        & {
            padding: 0.25rem;
            place-items: center;
            place-content: center;

            /* */
            box-sizing: border-box;
            aspect-ratio: 1 / 1;
            max-inline-size: min(var(--icon-size, 4rem), 100cqmin);
            max-block-size: min(var(--icon-size, 4rem), 100cqmin);
            inline-size: max-content;
            block-size: 100%;
            overflow: visible;

            /* */
            background-color: transparent;
            filter: drop-shadow(0 0 1rem #10101040);
        };

        /* */
        & {
            display: inline grid;
            grid-template-columns: minmax(0px, 1fr);
            grid-template-rows: minmax(0px, 1fr);
        }

        /* */
        ::slotted(*) {
            overflow: hidden;
            pointer-events: auto;
            scale: var(--corrector, 1);
        };

        /* */
        & > :where(*) { z-index: 99; };
    }
}
