@layer ui-block {

    //
    :host(ui-block) {
        &, :where(*), ::slotted(*) {
            /* */
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            user-drag: none;
            user-select: none;
            box-sizing: border-box;

            /* */
            white-space: nowrap;
            white-space-collapse: collapse;
            text-wrap: nowrap;
            text-spacing-trim: trim-start;
        }

        //
        &, & > :where(*) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
            word-wrap: normal;
            flex-wrap: nowrap;
            line-height: 0;

            //
            place-content: center;
            place-items: center;

            //
            pointer-events: none;
        }

        //
        ::slotted(*:not([inert], span, ui-icon)) { pointer-events: auto; }

        //
        & {
            inline-size: 100%;
            block-size: max-content;
            min-block-size: var(--decor-size);
        }

        //
        & {
            display: inline grid;
            grid-template-columns: minmax(max-content, var(--decor-size)) minmax(0px, 1fr) minmax(max-content, var(--decor-size));
            grid-template-rows: minmax(max-content, var(--decor-size));
        }

        //
        & { --decor-size: 2.8rem; };

        //
        & {
            contain: none;

            //
            position: relative;
            container-type: normal;
            pointer-events: none;

            //
            cursor: pointer;
            overflow: visible;

            //
            place-self: end;
            place-content: end;
            place-items: end;
            text-align: end;

            //
            justify-content: space-between;
        }

        //
        & :where(script, link, style) {
            display: none !important;
            pointer-events: none !important;
        }

        //
        & > :where(*:not(script, link, style)) {
            //
            & {
                inline-size: 100%;
                block-size: max-content;
                pointer-events: none;
            }

            //
            & {
                //place-self: start;
                display: flex;
                inset: 0px;
                pointer-events: none;
                background-clip: border-box;
                background-origin: content-box;
                background-color: transparent;
                background-image: none;
                padding-inline: calc(var(--decor-size) * 0.3);
                padding-block: calc(var(--decor-size) * 0.3);
                overflow: visible;
                flex-grow: 0;
                flex-basis: auto;
                flex-shrink: 0;
                z-index: 99;

                //
                inset-inline-end: auto;
                inset-block-end: auto;

                //
                place-content: center;
                place-items: center;

                //
                text-align: center;
                justify-self: end;
                justify-content: center;
                justify-items: center;

                //
                box-sizing: border-box;

                //
                grid-column: 1 / 1 span;
                grid-row: 1 / 1 span;
            }
        }

        //
        & > *:where([data-place="label"], :not([data-place])) {
            & { inline-size: 100%; };

            //
            & {
                padding-inline: calc(var(--decor-size) * 0.2);

                //
                place-self: center;

                //
                text-align: start;
                justify-self: end;
                justify-content: start;
                justify-items: start;
            }
        }

        //
        & > *[data-place="element"] {
            & { inline-size: max-content; };
            & { min-inline-size: 100%; };

            //
            & {
                pointer-events: none;
                aspect-ratio: auto;
                justify-self: end;
            }
        }

        //
        & > *[data-place="icon"] {
            & {
                inline-size: var(--decor-size, 100%);
                block-size: var(--decor-size, 100%);

                //
                max-inline-size: 100%;
                max-block-size: 100%;

                //
                place-self: center;
            }

            //
            & {
                stroke: var(--current-glyph-color);
                color : var(--current-glyph-color);
                aspect-ratio: 1 / 1;
                justify-self: start;
            }
        }

        //
        & > *[data-place="icon"]    { grid-column: 1 / 1 span; grid-row: 1 / 1 span; }
        & > *[data-place="element"] { grid-column: 3 / 3 span; grid-row: 1 / 1 span; }
        & > *:where([data-place="label"], :not([data-place])) {
            grid-column: 2 / 2 span;
            grid-row: 1 / 1 span;
        }

        //
        &.layout-alt {
            //
            grid-template-columns: minmax(var(--decor-size), max-content) minmax(0px, 1fr);
            grid-template-rows: minmax(var(--decor-size), max-content) minmax(var(--decor-size), max-content);

            //
            & {
                overflow: visible;
                block-size: max-content;
            }

            //
            & > *[data-place="icon"]    { grid-column: 1 / 1 span; grid-row: 1 / 1 span; justify-self: start;}
            & > *[data-place="element"] { grid-column: 1 / 2 span; grid-row: 2 / 2 span; justify-self: start; align-self: start; }
            & > *:where([data-place="label"], :not([data-place])) {
                grid-column: 2 / 2 span;
                grid-row: 1 / 1 span;
                justify-self: start;
            }
        }
    };
};
