@layer ui-orient-box {

    //
    :host(ui-orientbox) {
        & {
            position: relative;
            container-type: size;
            contain: strict;
            background-color: transparent;

            //
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            place-self: center;

            //
            min-inline-size: 1px;
            min-block-size: 1px;
            inline-size: 100%;
            block-size: 100%;
            max-inline-size: 100%;
            max-block-size: 100%;

            //
            inset: 0px;

            //
            zoom: max(var(--zoom, 1), 0.125);
            font-size: 16px;

            //
            pointer-events: none;
        }

        //
        & { // won't supports
            writing-mode: horizontal-tb !important;
            direction: ltr !important;
        }

        // by default, won't support
        ::slotted(*) {
            writing-mode: inherit;
            direction: inherit;
        }
    }

};
