// Type: standalone

@layer ui-ap-row
{
    //
    :host
    {
        &, :where(*), ::slotted(*)
        {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            user-drag: none;

            //
            pointer-events: none;
            user-select: none;
            touch-action: none;
            -webkit-user-drag: none;
            -moz-user-drag: none;

            /* */
            box-sizing: border-box;

            /* */
            background-color: transparent;
            white-space: nowrap;
            white-space-collapse: collapse;
            text-wrap: nowrap;
            text-spacing-trim: trim-start;
            text-wrap-mode: nowrap;
            text-wrap-style: pretty;

            /* */
            word-break: keep-all;
            text-overflow: ellipsis;
            overflow-wrap: anywhere;

            /* */
            place-content: center;
            place-items: center;
            place-self: center;

            /* */
            --tm-bg-alpha: 0.0;
            --hl-co-state: 0.0;
        }

        /* */
        :where(*), ::slotted(*) {
            background-color: transparent;
        }

        /* */
        :where(*), :where(span), ::slotted(span) {
            background-color: transparent !important;
        }

        /* */
        & {
            font-size: 0.9rem;
            box-sizing: border-box;
            inline-size: 100%;
            block-size: 2rem;
            min-block-size: max-content;
            max-block-size: min(100%, 4rem);
            min-block-size: max(max-content, 2rem);
            max-inline-size: 100%;
            overflow: hidden;
            padding: 0.5rem;
            padding-inline: 0.5rem;

            /* grid-version */
            display: inline grid;
            grid-column: 1 / -1;
            grid-template-rows: minmax(0px, 1fr);
            grid-template-columns: subgrid;

            gap: 0.5rem;
            column-gap: 0.5rem;
            row-gap: 0px;

            line-height: 0;

            /* flex-version */
            //display: inline flex;

            /* flow-behaviour */
            grid-auto-flow: row;
            flex-direction: row;

            /* */
            touch-action: none;
            pointer-events: auto;
            cursor: pointer;

            /* */
            place-content: center;
            place-items: center;
            place-self: center;

            /* */
            justify-content: start;
            justify-items: start;
            text-align: start;
        }

        /* */
        & input[type="checkbox"], slot[name="radio"]::slotted(input[type="checkbox"]),
        & input[type="radio"], slot[name="radio"]::slotted(input[type="radio"])
        {
            max-block-size: none;
            box-sizing: border-box;
            cursor: pointer;
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            inline-size: 100%;
            block-size: 100%;
            appearance: none;
            opacity: 0;
            display: none;
            margin: 0px;
        };

        /* */
        & .ui-columns
        {
            & {
                box-sizing: border-box;
                grid-column: 1 / -1;
                grid-row: 1 / -1;

                //
                min-block-size: max-content;
                max-block-size: 100%;
                line-height: 0;
                inline-size: 100%;
                block-size: 100%;

                //
                display: contents;
                grid-template-rows: minmax(0px, 1fr);
                grid-template-columns: subgrid;

                //
                place-content: center;
                place-items: center;
                place-self: center;

                /* */
                user-select: none;
                touch-action: none;
                pointer-events: none;
            }

            /* */
            ::slotted(*)
            {
                grid-row: 1 / -1;
                padding: 0rem;
                line-height: 0;

                /* */
                display: inline flex;
                flex-direction: row;
                flex-wrap: wrap;

                /* */
                place-content: center;
                place-items: center;
                place-self: center;

                /* */
                text-align: start;
                justify-content: start;

                /* */
                block-size: 100%;
                inline-size: 100%;
                max-block-size: none;

                /* */
                user-select: none;
                touch-action: none;
            }
        }

        /* */
        ::slotted(span) {
            background-color: transparent !important;
            text-align: start;
        }

        /* */
        ::slotted(*) {
            flex-grow: 1;
            flex-basis: stretch;

            //
            background-color: transparent;
            text-align: start;
        }

        /* */
        :where(ui-icon), ::slotted(ui-icon) {
            padding: 0.25rem;
            block-size: 100%;
            min-block-size: 1rem;

            //
            flex-grow: 1;
            flex-basis: 1rem;

            //
            max-block-size: 100%;
            max-inline-size: 100%;
            aspect-ratio: 1 / 1;

            //
            place-content: center !important;
            place-items: center !important;
            place-self: center !important;
            text-align: center !important;
        }
    }
}
