:host {
    inline-size: 1rem;
    block-size: 1rem;
    display: flex;
    padding: 0px;
    box-sizing: border-box;
    pointer-events: none;
    place-items: center;
    place-content: center;
    border-radius: 0px;

    //
    & > label {
        container-type: size;
        container-name: ui-contain;

        border-radius: 0px;
        cursor: pointer;
        pointer-events: auto;
        display: flex;
        max-inline-size: 100%;
        max-block-size: 100%;
        inline-size: 100%;
        block-size: 100%;
        position: relative;
        padding: 0px;
        box-sizing: border-box;
        place-items: center;
        place-content: center;
        background-color: transparent;

        & > .ui-thumb { z-index: 99; }
        & > .ui-fill {
            overflow: hidden;
            background-color: transparent;
            display: grid;
            grid-template-columns: minmax(0px, 1fr);
            grid-template-rows: minmax(0px, 1fr);
        }

        & > * {
            padding: 0px;
            inset: 0px;
            position: absolute;
            max-inline-size: 100%;
            max-block-size: 100%;
            inline-size: 100%;
            block-size: 100%;
            pointer-events: none;
            box-sizing: border-box;
            border-radius: 0px;

            & > * {
                max-inline-size: 100%;
                max-block-size: 100%;
                inline-size: 100%;
                block-size: 100%;

                grid-column: 1 / -1;
                grid-row: 1 / -1;
            }
        }
    }

    ::slotted(input) {
        cursor: pointer;
        pointer-events: auto;
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        max-inline-size: 100%;
        max-block-size: 100%;
        inline-size: 100%;
        block-size: 100%;
        border-radius: 0px;

        appearance: none;
        -webkit-appearance: none;
        opacity: 0;
    }
}