@layer u2-layout {

    //
    :host {
        //
        & {
            --thumb-content: "🔆";

            //
            inline-size: 1rem;
            block-size: 1rem;
            display: inline flex;
            padding: 0px;
            box-sizing: border-box;
            place-items: safe center;
            place-content: safe center;
            border-radius: 0px;
            background-color: transparent;

            //
            overflow: visible;

            //
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;

            //
            user-drag: none;
            user-select: none;
            touch-action: none;
            pointer-events: none;
        }

        //
        & * {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;

            //
            user-drag: none;
            user-select: none;
            touch-action: none;
        }

        //
        & slot {
            background-color: transparent !important;
            display: contents !important;
            overflow: visible !important;
        }

        //
        & > label {
            & {
                container-type: size;
                container-name: ui-contain;
                contain: none;
                overflow: visible;

                //
                border-radius: 0px;
                cursor: pointer;
                display: flex;
                max-inline-size: 100%;
                max-block-size: 100%;
                inline-size: 100%;
                block-size: 100%;
                position: relative;
                padding: 0px;
                box-sizing: border-box;
                place-items: safe center;
                place-content: safe center;
                background-color: transparent;

                //
                pointer-events: none;
                touch-action: none;
                user-select: none;
            }

            //
            & > .ui-inputs {
                display: flex;
                flex-direction: row;
                place-content: safe space-around;
                place-items: safe stretch;
                box-sizing: border-box;

                //
                user-select: none;
                touch-action: none;
            }

            //
            & > .ui-thumb {
                & {
                    z-index: 99;
                    display: flex;
                    place-content: safe center;
                    place-items: safe center;
                    box-sizing: border-box;
                    min-inline-size: max-content;
                    min-block-size: max-content;
                    aspect-ratio: 1 / 1;
                    overflow: hidden;
                    cursor: pointer;

                    //
                    user-select: none;
                    touch-action: none;
                    pointer-events: auto;
                }

                //
                &::after {
                    display: flex;
                    place-content: safe center;
                    place-items: safe center;
                    flex-direction: row;
                    overflow: visible;

                    //
                    aspect-ratio: 1 / 1;
                    box-sizing: border-box;
                    text-align: center;

                    // for example
                    content: var(--thumb-content, "🔆");
                    background-image: linear-gradient(var(--current-glyph-color, currentColor), var(--current-glyph-color, currentColor));
                    font-variant-emoji: text;
                    font-weight: bolder;

                    //
                    color: transparent;
                    background-clip: text;
                    vertical-align: middle;
                    line-height: 1;
                    font-size: calc(100cqmin * 0.6);

                    //
                    user-select: none;
                    touch-action: none;
                    pointer-events: none;
                }
            }

            //
            & > .ui-fill {
                //
                & {
                    overflow: hidden;
                    background-color: transparent;
                    display: grid;
                    grid-template-columns: minmax(0px, 1fr);
                    grid-template-rows: minmax(0px, 1fr);
                    box-sizing: border-box;

                    //
                    user-select: none;
                    touch-action: none;
                    pointer-events: auto;
                }

                //
                & > * {
                    max-inline-size: 100%;
                    max-block-size: 100%;
                    inline-size: 100%;
                    block-size: 100%;

                    //
                    grid-column: 1 / -1;
                    grid-row: 1 / -1;

                    //
                    pointer-events: none;
                }
            }

            //
            & > * {
                padding: 0px;
                inset: 0px;
                position: absolute;
                max-inline-size: 100%;
                max-block-size: 100%;
                inline-size: 100%;
                block-size: 100%;
                box-sizing: border-box;
                border-radius: 0px;

                //
                user-select: none;
                touch-action: none;
                pointer-events: none;

                //
                translate: calc(50cqi - 50%) calc(50cqb - 50%);
            }
        }

        //
        ::slotted(input) {
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
            max-inline-size: 100%;
            max-block-size: 100%;
            inline-size: auto;//100%;
            block-size: auto;//100%;
            border-radius: 0px;
            opacity: 0;
            flex-grow: 1;

            //
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;

            //
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;

            //
            pointer-events: none;
            user-drag: none;
            user-select: none;
            touch-action: none;
        }
    }

}
