@scope(:host, :scope, :root) {

    //
    @property --drag-d {
        initial-value: 0.01;
        syntax: "<number>";
        inherits: true;
    }

    //
    @property --drag-x {
        initial-value: 0;
        syntax: "<number>";
        inherits: true;
    }

    //
    @property --drag-y {
        initial-value: 0;
        syntax: "<number>";
        inherits: true;
    }

    //
    @property --rx {
        initial-value: 0px;
        syntax: "<length-percentage>";
        inherits: true;
    }

    //
    @property --ry {
        initial-value: 0px;
        syntax: "<length-percentage>";
        inherits: true;
    }

    //
    @property --sp-x {
        initial-value: 0px;
        syntax: "<length-percentage>";
        inherits: true;
    }

    //
    @property --sp-y {
        initial-value: 0px;
        syntax: "<length-percentage>";
        inherits: true;
    }

    //
    @property --bound-inline-size {
        initial-value: 100cqi;
        syntax: "<length-percentage>";
        inherits: true;
    }

    //
    @property --bound-block-size {
        initial-value: 100cqb;
        syntax: "<length-percentage>";
        inherits: true;
    }

    //
    @property --limit-drag-x {
        initial-value: 100%;
        syntax: "<length-percentage>";
        inherits: true;
    }

    //
    @property --limit-drag-y {
        initial-value: 100%;
        syntax: "<length-percentage>";
        inherits: true;
    }

    //
    @property --ds-x {
        initial-value: 0px;
        syntax: "<length-percentage>";
        inherits: true;
    }

    //
    @property --ds-y {
        initial-value: 0px;
        syntax: "<length-percentage>";
        inherits: true;
    }
};

//
@mixin ps-draggable {
    /* */
    & { position: fixed; };

    /* */
    & {
        inset-inline-start: var(--sp-x, 0px);//var(--ds-x, 0px);
        inset-block-start : var(--sp-y, 0px);//var(--ds-y, 0px);
        inset-inline-end  : auto;
        inset-block-end   : auto;
        touch-action: none;
        translate: 0% 0% 0%;

        //
        --translate-x: var(--ds-x, 0px) !important;
        --translate-y: var(--ds-y, 0px) !important;

        // by default not prefer
        direction: ltr;
        writing-mode: horizontal-tb;
    };

};
