:host {
    & {
        text-align: center;
        padding: 0.25rem;
        cursor: pointer;
        min-inline-size: 6rem;
        display: inline flex;
        place-content: safe center;
        place-items: safe center;
        overflow: hidden;
        pointer-events: auto;
        border-radius: 0.25rem;
        box-sizing: border-box;

        /* */
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;

        /* */
        user-drag: none;
        user-select: none;
        touch-action: none;
    }

    /* */
    & button {
        gap: 0.25rem;
        text-align: start;
        padding: 0rem;
        user-select: none;
        display: flex;
        flex-direction: row;
        align-content: safe center;
        align-items: safe center;
        justify-items: stretch;
        justify-content: space-between;
        pointer-events: none;
        border-radius: 0px;
        outline: none 0px transparent;
        border: none 0px transparent;
        background-color: transparent;
        inline-size: 100%;
        block-size: 100%;
        box-sizing: border-box;

        /* */
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;

        /* */
        user-drag: none;
        user-select: none;
        touch-action: none;
    }

    /* */
    *, ::slotted(*) {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;

        /* */
        user-drag: none;
        user-select: none;
        touch-action: none;
    }

    /* */
    ::slotted(*) {
        interactivity: inert;
        pointer-events: none;
    }
}