@charset "UTF-8";
@scope (:host, :root, :scope) {
  @property --value {
    initial-value: 0;
    syntax: "<number>";
    inherits: true;
  }
  @property --max-value {
    initial-value: 0;
    syntax: "<number>";
    inherits: true;
  }
}
@layer ui-switch {
  :host { /* */ }
  :host, :host :where(*), :host ::slotted(*) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    touch-action: none;
    pointer-events: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    /* */
    box-sizing: border-box;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    font-smooth: 0px;
    font-smooth: never;
    shape-rendering: crispEdges;
    shape-rendering: optimizeSpeed;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    direction: ltr !important;
    writing-mode: horizontal-tb !important;
    font-family: "Open Sans", "Ubuntu Sans", Ubuntu, Segoe, "Segoe UI", source-sans-pro, "Source Sans 3", "Gill Sans Nova", Candara, sans-serif, ui-sans-serif, system-ui;
  }
  :host {
    --thumb-content: "🔆";
    inline-size: 1rem;
    block-size: 1rem;
    display: inline flex;
    padding: 0px;
    box-sizing: border-box;
    place-items: safe center;
    place-content: safe center;
    border-radius: 0px;
    background-color: transparent;
    overflow: visible;
  }
  :host :where(*) {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    touch-action: none;
  }
  :host slot {
    background-color: transparent !important;
    display: contents !important;
    overflow: visible !important;
  }
  :host .ui-indicator, :host ::slotted(.ui-indicator) {
    background-color: transparent !important;
  }
  :host > label {
    container-type: size;
    container-name: ui-contain;
    contain: none;
    overflow: visible;
    border-radius: 0px;
    cursor: pointer;
    display: flex;
    max-inline-size: 100%;
    max-block-size: 100%;
    inline-size: 100%;
    block-size: 100%;
    position: relative;
    padding: 0px;
    box-sizing: border-box;
    place-items: center;
    place-content: center;
    background-color: transparent;
    pointer-events: none;
    touch-action: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  :host > label > .ui-inputs {
    display: flex;
    flex-direction: row;
    place-content: space-around;
    place-items: stretch;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    touch-action: none;
  }
  :host > label > .ui-thumb {
    /* */
  }
  :host > label > .ui-thumb {
    pointer-events: auto;
    z-index: 99;
    display: flex;
    place-content: center;
    place-items: center;
    box-sizing: border-box;
    min-inline-size: -moz-max-content;
    min-inline-size: max-content;
    min-block-size: -moz-max-content;
    min-block-size: max-content;
    aspect-ratio: 1/1;
    overflow: hidden;
    cursor: pointer;
  }
  :host > label > .ui-thumb {
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
    word-wrap: normal;
    flex-wrap: nowrap;
    line-height: 0;
  }
  :host > label > .ui-thumb ::slotted(*) {
    display: none;
  }
  :host > label > .ui-thumb ::slotted(ui-icon:first-child),
  :host > label > .ui-thumb ::slotted(.ui-indicator:first-child:first-child) {
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: row;
    overflow: visible;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    text-align: center;
    padding: 0.25rem;
    font-size: 0.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
    word-wrap: normal;
    flex-wrap: nowrap;
    line-height: 0;
  }
  :host > label > .ui-fill {
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(0px, 1fr);
    grid-template-rows: minmax(0px, 1fr);
    box-sizing: border-box;
    pointer-events: auto;
  }
  :host > label > .ui-fill > * {
    max-inline-size: 100%;
    max-block-size: 100%;
    inline-size: 100%;
    block-size: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
  :host > label > * {
    padding: 0px;
    inset: 0px;
    position: absolute;
    max-inline-size: 100%;
    max-block-size: 100%;
    inline-size: 100%;
    block-size: 100%;
    box-sizing: border-box;
    border-radius: 0px;
    translate: calc(50cqi - 50%) calc(50cqb - 50%);
  }
  :host ::slotted(input) {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    max-inline-size: 100%;
    max-block-size: 100%;
    inline-size: auto;
    block-size: auto;
    border-radius: 0px;
    opacity: 0;
    flex-grow: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    cursor: pointer;
  }
}
@layer u2-design {
  :host {
    --value: 0;
    --max-value: 1;
  }
  :host {
    block-size: 2.25rem;
    inline-size: calc(0.5rem + 1.5rem * (var(--max-value, 1) + 1));
  }
  :host .ui-fill {
    border-radius: 50cqmin;
    overflow: hidden;
    display: grid;
    grid-template-columns: [in-active] minmax(0px, calc(var(--value, 0) / (var(--max-value, 1)) * 100%)) [on-active] minmax(0px, 1fr);
  }
  :host .ui-fill-active {
    grid-column: on-active;
    border-radius: 0px;
  }
  :host .ui-fill-inactive {
    grid-column: in-active;
    border-radius: 0px;
  }
  :host .ui-thumb {
    padding: 10cqmin;
    aspect-ratio: 1/1;
    min-inline-size: 1px;
    min-block-size: 1px;
    inline-size: 90cqmin;
    block-size: 90cqmin;
    border-radius: 50%;
    overflow: hidden;
    max-inline-size: none;
    max-block-size: none;
    translate: calc(-4cqmin * (var(--value, 0) / (var(--max-value, 1)) * 2 - 1) + (100cqi - 100%) * var(--value, 0) / var(--max-value, 1)) calc(50cqb - 50%);
  }
}/*# sourceMappingURL=ap-switch.css.map */