@layer ui-statusbar {
  @media screen {
    :host, :where(*), ::slotted(*) {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;
      user-drag: none;
      -webkit-user-select: none;
         -moz-user-select: none;
              user-select: none;
      pointer-events: none;
      -webkit-user-drag: none;
      -moz-user-drag: none;
      /* */
      box-sizing: border-box;
      touch-action: none;
      /* */
      font-family: "Open Sans", "Ubuntu Sans", Ubuntu, Segoe, "Segoe UI", source-sans-pro, "Source Sans 3", "Gill Sans Nova", Candara, sans-serif, ui-sans-serif, system-ui;
    }
    :host(ui-statusbar) {
      /* */
      /* */
      /* */
      /* */
      /* */
      /* */
      /* */
    }
    :host(ui-statusbar) :where(span), :host(ui-statusbar) ::slotted(span) {
      background-color: transparent;
    }
    :host(ui-statusbar) {
      inline-size: 100%;
      block-size: 2.25rem;
      font-size: 0.8rem;
      /* */
      display: inline grid;
      grid-template-columns: minmax(0px, max-content) minmax(0px, 1fr) minmax(6rem, max-content);
      grid-template-rows: minmax(0px, 1fr);
      gap: 0rem;
      /* */
      justify-content: space-between;
      padding-inline: 2cqi;
      box-sizing: border-box;
      overflow: hidden;
      /* */
      inset: 0px;
      inset-block-end: auto;
      position: fixed !important;
      z-index: 999999;
      pointer-events: none;
      /* design v1 */
      background-color: transparent !important;
      font-weight: bold;
    }
    :host(ui-statusbar) :where(*), :host(ui-statusbar) ::slotted(*) {
      background-color: transparent;
    }
    :host(ui-statusbar) > :where(*) {
      /* */
    }
    :host(ui-statusbar) > :where(*) {
      inline-size: 100%;
      block-size: 100%;
      box-sizing: border-box;
      flex-direction: row;
    }
    :host(ui-statusbar) > :where(*) {
      background-color: transparent;
    }
    :host(ui-statusbar) > :where(*) {
      justify-content: space-between;
    }
    :host(ui-statusbar) > div {
      display: inline flex;
      flex-direction: row;
      inline-size: 100%;
      block-size: 100%;
    }
    :host(ui-statusbar) :where(*) {
      background-color: transparent;
      gap: 0rem;
      place-items: center;
      place-content: center;
    }
    :host(ui-statusbar) .left, :host(ui-statusbar) .right {
      display: inline flex;
      flex-direction: row;
    }
    :host(ui-statusbar) .left {
      grid-column: 1/1 span;
      grid-row: 1/1 span;
      justify-self: safe start;
      justify-items: safe start;
      justify-content: safe start;
      gap: 0rem;
    }
    :host(ui-statusbar) .center {
      grid-column: 2/2 span;
      grid-row: 1/1 span;
      justify-self: safe center;
      justify-items: safe center;
      justify-content: safe center;
      gap: 0rem;
    }
    :host(ui-statusbar) .right {
      grid-column: 3/3 span;
      grid-row: 1/1 span;
      justify-self: safe end;
      justify-items: safe end;
      justify-content: safe end;
      gap: 0rem;
    }
    :host(ui-statusbar) .right {
      gap: 0.2rem;
    }
    :host(ui-statusbar) .ui-indicator {
      padding: 0.6rem;
      background-color: transparent;
      pointer-events: none;
    }
    :host(ui-statusbar) .ui-indicator, :host(ui-statusbar) .ui-indicator a {
      display: inline flex;
      place-items: center;
      place-content: center;
      box-sizing: border-box;
      inline-size: -moz-max-content;
      inline-size: max-content;
      block-size: 100%;
      flex-direction: row;
    }
    :host(ui-statusbar) span, :host(ui-statusbar) ::slotted(span) {
      background-color: transparent;
      pointer-events: none;
    }
    :host(ui-statusbar) *[data-popup] {
      pointer-events: auto;
    }
    :host(ui-statusbar) :where(button) {
      border: none 0px transparent;
      pointer-events: auto;
    }
    :host(ui-statusbar) :where(button[data-action]) {
      pointer-events: auto !important;
    }
    :host-context([data-device-type=desktop]) {
      display: none !important;
    }
  }
}/*# sourceMappingURL=ov-statusbar.css.map */