@layer ui-tooltip {
    //
    @media screen {
        :host(:empty) { display: none !important; };
        :host {
            //
            &, :where(*), ::slotted(*) {
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                -webkit-tap-highlight-color: transparent;
                user-drag: none;

                /* */
                user-select: none;
                -webkit-user-drag: none;
                -moz-user-drag: none;

                /* */
                box-sizing: border-box;
                touch-action: none;

                /* */
                font-family: 'Open Sans', 'Source Sans 3', 'Gill Sans Nova', Ubuntu, 'DejaVu Sans', Candara, Segoe, "Segoe UI", Optima, source-sans-pro, sans-serif;
            }

            //
            &:not(:has-slotted) {
                display: none !important;
            }

            //
            & {
                //
                --rx: calc(var(--hover-x, 0) * 1px - 50cqi);
                --ry: calc(var(--hover-y, 0) * 1px - 50cqb - 0.5rem);

                //
                --translate-x: clamp(0px, calc(calc(50cqi - 50%) + var(--rx)), calc(100cqi - 100%));
                --translate-y: clamp(0px, calc(calc(50cqb - 50%) + var(--ry) - 0.5rem), calc(100cqb - 100%));
            }

            //
            & {
                inline-size: max-content;
                block-size: max-content;

                //
                max-inline-size: 80cqi;
                max-block-size: min(4rem, 80cqb);

                //
                font-size: 0.6rem;
                padding: 0.5rem;
                overflow: hidden;
                border-radius: 0.125rem;

                //
                background-color: var(--rv-bg-color, currentColor);
                outline: solid 0.5px oklch(from var(--rv-color, currentColor) l c h / 0.125);

                //
                pointer-events: none;
                user-select: none;

                //
                place-self: start;
                position: fixed;
                inset: 0px;
                inset-inline-end: auto;
                inset-block-end: auto;
                z-index: calc(9999 + var(--z-index, 0));
            }
        }
    };
};
