@layer ui-icon {
    /* */
    :host {
        /* */
        & {
            aspect-ratio: 1 / 1;
            inline-size: max-content;
            block-size: 100%;
            box-sizing: border-box;
            display: inline flex;
            place-items: safe center;
            place-content: safe center;

            /* */
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;

            /* */
            interactivity: inert;
            pointer-events: none;
            user-select: none;
            user-drag: none;
            touch-action: none;
        }

        /* */
        & > * {
            box-sizing: border-box;
            inline-size: max-content;
            block-size: 100%;
            aspect-ratio: 1 / 1;

            /* */
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;

            /* */
            interactivity: inert;
            pointer-events: none;
            user-select: none;
            user-drag: none;
            touch-action: none;
        }
    }
}
